.description {
  //padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 7%;
  font-size: small;
  margin-right: 5%;

  .icon {
    color: #f39c12; /* Màu của icon chú ý */
    margin-right: 8px;
  }

  //h3 {
  //  font-size: 18px;
  //  font-weight: bold;
  //  margin-bottom: 10px;
  //  color: #333;
  //}
  //
  //ul {
  //  list-style-type: none;
  //  padding-left: 0;
  //}
  //
  //li {
  //  font-size: 16px;
  //  color: #666;
  //  margin-bottom: 8px;
  //  display: flex;
  //  align-items: center;
  //}
  //
  //.icon {
  //  color: #3a94f3;
  //  margin-right: 8px;
  //}
}