//
//.left {
//  width: 250px;
//}

.right {
  flex: 1 1 0;

}

.card-text {
  color: red;
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding-top: 20px; /* Điều chỉnh khoảng cách trên/dưới nếu cần */
  padding-bottom: 20px;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  margin-top: 10px;
  transition: box-shadow 0.3s; /* Thêm hiệu ứng chuyển đổi cho box-shadow */
}

.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Hiệu ứng nổi lên khi hover */
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}

.custom-link {
  color: black !important;
  text-decoration: none !important;
}

.custom-link:hover {
  color: var(--yellow-color) !important; /* Màu khi hover là màu vàng */
  text-decoration: none !important;
}

/* Các kiểu CSS hiện tại */

.dark-mode {
  background: linear-gradient(to right, #051018, #2177b4, #051018);
  color: #fff;
}

.light-mode {
  background-color: #fff; /* Màu sáng cho chế độ sáng */
  color: #000;

}

.filter-container2 {
  margin-top: 20%;
}


