
.root {
  padding: 16px;

  .title {
    font-weight: 700;
    font-size: 20px;
  }
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: linear-gradient(to right, #e0f5f0, #eaccf8, #b2a8fd);

  > li {
    margin-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
    transition: background-color 0.3s ease;

    .box {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border: 1px solid #000; /* Viền màu đen của ô vuông rỗng */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .name {
      font-weight: 600;
      font-size: 18px;
    }

    .tick {
      display: none; /* Ẩn dấu tick ban đầu */
      font-size: 14px; /* Kích thước của dấu tick */
      color: var(--background-color); /* Màu của dấu tick */
      font-weight: 700;
    }

    &:hover {
      background-color: #f0f0f0; /* Màu nền khi hover */
    }

    &.active {
      color: var(--yellow-color); /* Màu khi active */

      .tick {
        display: inline-block; /* Hiển thị dấu tick khi active */
      }
    }
  }
}

.light-mode {
  background-color: #fff;
  color: #000;
}

/* Định nghĩa kiểu cho chế độ tối */
.dark-mode {
  background: linear-gradient(to bottom right, #4c4f50, #0f3550, #4c4f50);
  color: #fff;
}

.light {
  color: #000;
}

/* Định nghĩa kiểu cho chế độ tối */
.dark {
  color: #d2d1cf;
}

.lightt {
  color: #000;
}

/* Định nghĩa kiểu cho chế độ tối */
.darkt {
  background-color: white;
  color: #fff;
}

.item {
  width: 100%; // điều chỉnh chiều rộng của TextField\
  margin-top: 40px;

}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 10px; // khoảng cách giữa các phần tử
  margin-top: 20px;
}

.button {
  margin-top: 20px;
}

.root {
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.rangeButton {
  width: 100%; // Chiều rộng của nút
  margin-top: 20px;
}

.predefinedRanges > .rangeWrapper {
  margin-bottom: 10px; // Khoảng cách giữa các nút
}

.predefinedRanges {
  margin-top: 20px;
}