
.container {
  margin-top: 2%;

  .right {
    margin-top: 2%;

    .info {
      margin-left: 0px;
    }

    .thumbnail {
      //border-right: 1px solid #d0cece;
      margin-left: 15px;
    }
  }
}

