.container {
  display: flex;

  .col-md-3 {
    flex: 0 0 auto;
    width: 100%;
  }


}

.title {
  background: linear-gradient(to right, #e0f5f0, #eaccf8, #e0f5f0);
  padding: 2%;
  margin-top: 5%;
  text-align: center;
  font-size: x-large;
}